{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

      {{ govukRadios({
        name: "Choose time",
        fieldset: {
          legend: {
            text: "Choose Time",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        value: data.chooseTime,
        items: [
          {
            value: "10:00",
            text: "10:00"
          },
          {
            value: "12:00",
            text: "12:00"
          },
          {
            value: "14:00",
            text: "14:00"
          },
          {
            value: "16:00",
            text: "16:00",
            conditional: {
              html: "<div class='govuk-hint'>Evening slots are in high demand. If you can, choose an off-peak time.</div>"
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
