{% extends "layouts/main.html" %}

{% block pageTitle %}
  Choose a library – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/choose-library" method="post">

        {{ govukRadios({
          name: "library",
          fieldset: {
            legend: {
              text: "Choose a library",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data['library'],
          items: [
            { value: "Birmingham Central Library", text: "Birmingham Central Library" },
            { value: "Coventry Library", text: "Coventry Library" },
            { value: "Wolverhampton Library", text: "Wolverhampton Library" }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}

      </form>

    </div>
  </div>
{% endblock %}
